
// variables for console
// border color
$border-color: #7a7a7a;
$border-color-secondary: #505050;
$border-color-col: black;

// background color
$bg: #404040;
$bg-hover: #505050;
$bg-col: #303030;
// text color
$text-main: #fff;