// Colors
$green          : #4CD964;
$cyan           : #5AC8FA;
$blue           : #007AFF;
$purple         : #5856D6;
$magenta        : #FF2D70;
$red            : #FF3B30;
$orange         : #FF9500;
$yellow         : #FFCC00;
$gray           : #8E8E93;


$bg-body:  #F9F9F9;
$bg-color: #F4F1EF;

$intro-title-color: #9B9B9B;
$intro-text-color:  #505257;

$item-title-color:    #4A4A4A;
$item-content-color:  #999999;
$border:   #eee;


$gradient-cool: #50E3C2, #53A0FD, #B4EC51;
$gradient-warm: #FAC661, #FB9B36, #FFDA34;

$bg-panel-header: #fcfcfc;
$bg-panel-header-active: white
